.sidebar-container {
  width: 240px;
  height: 100%;
  transition: transform 0.3s ease;
  background: white;
  z-index: 100;
}

/* Mobile styles */
@media (max-width: 768px) {
  .sidebar-container {
    position: fixed;
    top: 56.8px;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .sidebar-container.open {
    transform: translateX(0);
  }

  /* RTL Sidebar on the right */
  .sidebar-container.rtl {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }

  .sidebar-container.rtl.open {
    transform: translateX(0);
  }
}
