.dx-icon-student {
  background-image: url("./common/assets/images/student.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.dx-icon-logout {
  background-image: url("./common/assets/images/logout.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.dx-icon-signout {
  background-image: url("./common/assets/images/signout.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
